@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

#imgDisplay{
    background: url("src/pokeball.png") center center no-repeat;
    background-size: 101%;
    width: 230px;
    height: 230px;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: -29px;

}

#infoDisplay {
    background: white center center no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    border: 3px solid black;
    border-radius: 0 0 30px 30px;
    margin-top: -3px;
    font-size: 10px;
}

#evoDisplay {
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
}

#groupDisplay {
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    width: 100%;
    padding: 10px;
}

#nameDisplay {
    text-transform: capitalize;
}

.container {
    background-color: crimson;
    border: 3px solid black;
    border-radius: 30px;
    width: 55%;
}

#run {
    height: 100%;
    width: 100%;
    margin-left: -10px;
    border-radius: 50%;
    background: url("src/search-icon.png") center center no-repeat;
    background-size: 50%;
    cursor: pointer;
}

#input {
    border: 2px solid black;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 16px;
}

#moveBox {
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    width: 100%;
    padding: 10px;
}

#nameBox {

    background-color: white;
    border: 3px solid black;
    border-radius: 30px 30px 0 0;
    display: flex;
    width: 100%;
    /*height: 50px;*/
    justify-content: center;
}

#nameDisplay {
    font-size: 10px;
}

#moveList {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10px;
}

#moveSpan {
    font-weight: bold;
}

body {
    background-image: url("src/backgr.png");
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}

table {
    width: 95%;
}

tr td {
    text-align: center;
}

#abiList {
    text-align: left;
    padding: 25px;
    margin-top: auto;
    margin-bottom: auto;



}

.evoImg{
    width: 64px;
    height: 64px;
    background-size: cover;
}
#ab{
    margin-top: auto;
    margin-bottom: auto;
}
